{% extends 'base.html' %}

{% block content %}
   
    <div class="Imagen">
        <img src="sistema/static/images/logo.jpeg" alt="Inicio" class="img-fluid">
    </div>
    
    <div>
        <div class="row">
          <div class="col">
            <img src="../static/images/Imagen1.jpeg" alt="Inicio" class="inicio">
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            2 of 3
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>

    </div>

        {% for producto in productos %}
            <div>
                <h2>{{ producto.nombre }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: {{ producto.precio }}</p>
            </div>
        {% endfor %}
   

{% endblock content %}
